# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!Dockerfile
!Makefile
!Caddyfile

/_data/

tmp/**
.envrc
.git
**/**/secret.pass

**/**/*.tfstate*

ui/dist

cover.html
cover.out

