# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!Dockerfile
!Makefile
!Caddyfile

otelconfig.yaml

/_data/

tls/**
tmp/**
.envrc
.git
**/**/secret.pass

**/**/*.tfstate*

cover.html
cover.out

