{{ define "party_list" }}
  {{- range .Parties }}
    <div class="row my-2">
      <a href="/parties/{{ .ID }}">
        <button class="btn btn-primary">
          {{ .Name }}
        </button>
      </a>
    </div>
  {{- end }}
{{ end }}

{{ template "party_list" . }}
