DB_HOST="0.0.0.0"
DB_USERNAME="{{ db_user }}"
DB_PASSWORD="{{ db_password }}"
DB_DATABASE_NAME="moviesdatabase"
SESSION_KEY="{{ session_token }}"
TLS_CERT_LOCATION="/etc/letsencrypt/live/movies-with-friends.com/fullchain.pem"
TLS_KEY_LOCATION="/etc/letsencrypt/live/movies-with-friends.com/privkey.pem"
TMDB_API_KEY="{{ tmdb_api_key }}"
ADDR=443
