[DEFAULT]
{% for key, value in fail2ban_jail_config.DEFAULT.items() %}
{{ key }} = {{ value }}
{% endfor %}

[sshd]
{% for key, value in fail2ban_jail_config.sshd.items() %}
{{ key }} = {{ value }}
{% endfor %}
