DB_HOST="0.0.0.0"
DB_USERNAME="{{ db_user }}"
DB_PASSWORD="{{ db_password }}"
DB_DATABASE_NAME="{{ db_name }}"
SESSION_KEY="{{ session_key }}"
TMDB_API_KEY="{{ tmdb_api_key }}"
ADDR=":4000"
OTEL_SERVICE_NAME="movieswithfriends"
OTEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io" 
OTEL_EXPORTER_OTLP_HEADERS="x-honeycomb-team={{ honeycomb_key }}"
