{{ define "header" }}
<!DOCTYPE html>
<head>
  <title>{{ .Title }}</title>
  <style>
    body {
      font-family: monospace;
      background-color: #BBC;
      color: #334;
    }
    #content {
      margin: 30px auto 30px auto;
    }
    #footer {
      font-size: 0.8em;
    }
  </style>
</head>
<body>
  <div id="content">
{{ end }}
