{{ define "added_movie_button_search" }}
  <button class="btn btn-outline-secondary btn-sm" disabled>
    <i class="fas fa-plus me-2"></i> Added to
    {{ .Name }}
  </button>
{{ end }}

{{ template "added_movie_button_search" . }}
