{{ define "added_movie_button_show" }}
  <button class="btn btn-secondary btn-lg" disabled>
    <i class="fas fa-plus me-2"></i> Added to
    {{ .Name }}
  </button>
{{ end }}

{{ template "added_movie_button_show" . }}
