{{ define "added_movie_button" }}
  <button class="btn btn-outline-secondary btn-lg" disabled>
    <i class="fas fa-plus me-2"></i> Added to
    {{ .CurrentParty.Name }}
  </button>
{{ end }}
{{ template "added_movie_button" . }}
